@model WebHospital.Models.Patients;

@{ 
    Layout = null;
}

<!DOCTYPE html
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/Inputs.css" rel="stylesheet" />
</head>
<body>


    
    <form asp-action="Login" method="post">

        
            <p>
                <span class="input">
                    <input asp-for="Email" type="text" placeholder="Email" required />
                    <span></span>
                </span>
            </p>
        


        
            <p>
                <span class="input">
                    <input type="password" asp-for="Password" required placeholder="Password" />
                    <span></span>

                </span>
            </p>
        

        <div class="wrapper">
            <button class="btn btn-light" type="submit">SIGN IN</button>
         </div>
    </form>

</body>
</html>