@using WebHospital.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Patients> SignInManager
@inject UserManager<Patients> UserManager
@{
    ViewData["Title"] = "PageWithJobs";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My own webpage</title>
    <link href="~/css/main.css" rel="stylesheet" />

</head>

<a asp-action="MainLogPanel">here log</a>



<h1>hell world</h1>

@if (SignInManager.IsSignedIn(User))
{
    <h1>Welcome @UserManager.GetUserName(User)</h1>
}
else
{
    <h1>null</h1>
}




