@*What is important we have to import model from which we will be using variables*@
@model WebHospital.Models.Patients 
@{ 
    Layout = null;
}


<!DOCTYPE html
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/Inputs.css" rel="stylesheet" />

</head>
<body>
    
    <form asp-action="Registration" method="post">
        <div asp-validation-summary="All"></div>
       
        
        <p>

            <span class="input">
                <input asp-for="Name" type="text" required placeholder="Name"/>
            </span>
           
        </p>

        <p>

            <span class="input">
                <input asp-for="Surname" type="text" required  placeholder="Surname"/>
               </span>
</p>

        <p>
            <span class="input">
                <input type="text" pattern="[0-9]{11}" asp-for="Pesel" title="Pesel should have 11 Numbers" required placeholder="Pesel" />
            </span>
                
        </p>

        <p>

            <span class="input">
                <input type="text" asp-for="Email" required placeholder="Email"/>
            </span>
                


            

        </p>
        <p>
            <span class="input">
                <input type="text" pattern="[0-9]{9}" asp-for="Phone" title="Number should have 9 digits" required  placeholder="Phone"/>
            </span>
                

            

        </p>
        <p>
            <span class="input">
                <input type="password" asp-for="Password" required placeholder="Password" />
            </span>
                

          

        </p>
        
        <p>
            <div class="date">
                <span class="input">
                    <input asp-for="Date" />
                </span>
            </div>
        </p>




            <div class="wrapper">
                <button class="btn btn-light" type="submit">REGISTER!</button>
            </div>


</form>



</body>
</html>