@*What is important we have to import model from which we will be using variables*@
@model WebHospital.Models.Patients 
@{ 
    Layout = null;
}


<!DOCTYPE html
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    
</head>
<body>
    <form asp-action="Registration" method="post">
        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="Name">Your name:</label>
            <input asp-for="Name" />
        </p>
        <p>


            <label asp-for="Surname">Your Surname:</label>
            <input asp-for="Surname" />

        </p>
        <p>
            <label asp-for="Pesel">Your PESEL:</label>
            <input type="text" pattern="[0-9]{9}" asp-for="Pesel" title="Pesek should have 11 Numbers" />
        </p>
        <p>


            <label asp-for="Email">Your email:</label>
            <input asp-for="Email" />

        </p>
        <p>
            <label asp-for="Phone">Your phone:</label>
            <input type="text" pattern="[0-9]{9}" asp-for="Phone" title="Number should have 9 digits" />
        </p>
        <p>
            <label asp-for="Password">Your Password:</label>
            <input  type="password" asp-for="Password"  />
        </p>
        <p>
        <p>
            <label asp-for="Date">Date of your birth</label>
            <input asp-for="Date" />
        </p>
        </p>
        <button type="submit">Register</button>
    </form>
   
    </body>
</html>