@*What is important we have to import model from which we will be using variables*@
@model WebHospital.Models.Patients 
@{ 
    Layout = null;
}


<!DOCTYPE html
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/Inputs.css" rel="stylesheet" />

</head>
<body>
    
    <form asp-action="Registration" method="post">
        <div asp-validation-summary="All"></div>


        <p>

            <span class="input">
                <input asp-for="UserName" type="text" required placeholder="User Name" />
            </span>

        </p>

        <p>

            <span class="input">
                <input asp-for="Email" type="text" required placeholder="Email" />
            </span>
        </p>

        <p>

            <span class="input">
                <input asp-for="PasswordHash" type="text" required placeholder="Password" />
            </span>
        </p>



        <p>
            <span class="input">
                <input type="text" pattern="[0-9]{9}" asp-for="PhoneNumber" title="Number should have 9 digits" required placeholder="Phone" />
            </span>




        </p>







        <div class="wrapper">
            <button class="btn btn-light" type="submit">REGISTER!</button>
        </div>


    </form>



</body>
</html>