<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/MylayoutCSS.css" rel="stylesheet" />

</head>
<body>
    


    
        @RenderSection("Logging")
   
    <div id="content">
        <article>
            @RenderBody()
        </article>

    </div>

   
</body>
</html>
