body 
{
    background-color:rebeccapurple;
}
#register-button {
    
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 44%;
}
#login-button {
    margin: -20px -50px;
    position: relative;
    top: 50%;
    left: 56%;
}
