@model WebHospital.Models.Patients;

@{
    Layout = null;
}

<!DOCTYPE html
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="~/css/Inputs.css" rel="stylesheet" />
</head>
<body>



    <form asp-controller="PasswordHelp" asp-action="passwordhelp" method="post">


        <p>
            <span class="input">
                <input asp-for="Email" type="text" placeholder="Your Email" required />
                <span></span>
            </span>
        </p>

        <div class="wrapper">
            <button class="btn btn-light" type="submit">SEND</button>
        </div>
    </form>


</body>
</html>